# Archivos del sistema (macOS, Windows)
.DS_Store
Thumbs.db

# Archivos y carpetas generadas por Go
/bin/
/pkg/
/*.exe
/*.test
*.out

# Dependencias locales (si usás vendor)
vendor/

# Archivos de configuración y credenciales
.env


# Configuración de editores
.vscode/
.idea/
*.swp

# Ignorar archivos de base de datos
mysql_data/